* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    position: relative;
}

.parent {
    position: absolute;
    width: 75%; 
    height: 75%;
    border: 5px solid black;
    top: 10%;
    left: 10%;
    display: grid;
    grid-template-columns: 10% 30% 30% 30%;
    grid-template-rows: 45% 20% 25% 10%; 
}

.item {
    border: 5px solid black;
}

.item.one_red {
    background-color: #B33A27;
    grid-column: 1/3;
    grid-row: 1/2;
}

.item.two_white {
    background-color: #F6F5F6;
    grid-column: 3/5;
    grid-row: 1/2;
}

.item.three_white { 
    background-color: #F6F5F6;
    grid-column: 1/3;
    grid-row: 2/3;
}

.item.four_white { 
    background-color: #F6F5F6;
    grid-column: 3/5;
    grid-row: 2/3;
}

.item.five_yellow {
    background-color: #F0C432;
    grid-column: 1/2;
    grid-row: 3/5;
}

.item.six_white { 
    background-color: #F6F5F6;
    grid-column: 2/3;
    grid-row: 3/5;
}

.item.seven_blue {
    background-color: #2C395E;
    grid-column: 3/4;
    grid-row: 3/4;
}

.item.eight_white {
    background-color: #F6F5F6;
    grid-column: 3/4;
    grid-row: 4/5;
}

.item.nine_white {
    background-color: #F6F5F6;
    grid-column: 4/5;
    grid-row: 3/5;
}